@import url("solarized-light.css");
@import url("//fonts.googleapis.com/css?family=Consolas");

code,
pre {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 16px;
    border: 1px #ccc solid;
    background-color: #f9f9f9;
    color: #586e75;
}

code {
  font-size: 13px;
  padding: 2px ;
}
