@import url("solarized-light.css");
@import url("//fonts.googleapis.com/css?family=Inconsolata");

code,
pre {
    font-family: "Inconsolata", "Anonymous Pro", Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-weight: bold;
    font-size: 15px;
    border: 1px #ccc solid;
}
