/*sticky footer*/

html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  border-width: 0;
}

html,
body {
  font-size: 15px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-size: 17px;
}

#footer-text {
  font-size: 14px;
  float: none;
  margin: 20px 0;
}

h1 {font-size: 1.8em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1.0em;}

#article_info {
  font-size: 1.0em;
}

blockquote {
  font-size: 1.0em;

}

blockquote p {
  font-size: 100%;
}

.pagination {
  font-size: 1.2em;
}

td.code {
    width:100%;
}

p {
  word-break: break-all;
  /*hyphens: auto;*/
  /*-ms-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
}
