@import url("solarized-light.css");
@import url("//fonts.googleapis.com/css?family=Inconsolata");
@import url("//fonts.googleapis.com/css?family=Lato");

html,
body {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -54px;
  /* Pad bottom by footer height */
  padding: 0 0 54px;
}

/* Set the fixed height of the footer here */
#footer {
  border-radius: 0;
  height: 60px;
}

#footer .container {
  font-size: 14px;
  padding: 20px 0;
}

td.code {
    width:100%;
}

html,
body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
}

code,
pre {
    font-family: "Inconsolata", "Anonymous Pro", Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-weight: bold;
    font-size: 15px;
}

p {
  word-break: break-all;
  /*hyphens: auto;*/
  /*-ms-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
}
