@import url("solarizedlight.css");

html,
body {
  height: 100%;
  padding-top: 20px;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px 0;
}

.panel-body-nest {
  margin: 0;
}

.panel-body-nest > .list-group {
  margin: 0;
}

.panel-body-nest > .panel-group > .panel {
  margin-top: 0;
}

.panel-body-nest > .panel-group > .panel + .panel {
  margin-top: 0;
  border-top-width: 0;
}

.panel-body-nest .panel,
.panel-body-nest .list-group > .list-group-item {
  border-width: 1px 0;
}

.panel-body-nest .panel:last-child,
.panel-body-nest .list-group > .list-group-item:last-child {
  border-bottom-width: 0;
}

.panel-body-nest .panel-body {
  border-top-width: 1px;
}

.panel > a:link,
.panel > a:visited,
.panel > a:hover,
.panel > a:active {
  text-decoration: none;
}

.panel-default > a > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

#index-panel-title {
    margin: 15px;
}

a.list-group-item {
  color: #428bca;
}

td.code {
    width:100%;
}

.highlight pre {
    background-color:rgb(253,246,227);
}

.linenodiv pre {
    color:rgb(101,123,131);
    background-color:rgb(238,232,213);
}
