<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ SITENAME }}">
    <meta name="author" content="{{ AUTHOR }}">
    {% if FAVICON %}
    <link rel="icon" type="image/png" href="{{ FAVICON }}">
    {% endif %}

    {% from 'macro.html' import pagetitle with context %}
    {{ pagetitle(name) }}

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    {%- if BS3_THEME -%}
    <link rel="stylesheet" href="{{ BS3_THEME }}" type="text/css">
    {%- endif -%}

    <link rel="stylesheet" href="/theme/css/main.css">

    {%- if CODE_HIGHLIGHT -%}
    <link rel="stylesheet" href="{{ CODE_HIGHLIGHT }}">
    {%- else -%}
    <link rel="stylesheet" href="/theme/css/code.css">
    {%- endif -%}

    {%- if CSS_OVERWRITE -%}
    <link rel="stylesheet" href="{{ CSS_OVERWRITE }}">
    {%- endif -%}

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/theme/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/theme/css/flatly.css" type="text/css">-->
    <!--<link rel="stylesheet" href="/theme/css/main.css" type="text/css">-->
    <!--<script src="/theme/js/jquery-1.10.2.min.js"></script>-->
    <!--<script src="/theme/js/jquery-migrate-1.2.1.min.js"></script>-->
    <!--<script src="/theme/js/bootstrap.min.js"></script>-->

</head>

<body>
  <div class="containter" id="wrap">
    {% set link = ['/',link]|join %}
    {% from 'macro.html' import navbar with context %}
    {{ navbar(link) }}

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        {% from 'macro.html' import pageheader %}
        {{ pageheader(name,link) }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 col-md-offset-0">
          {% block left_sidebar %}{% endblock %}
        </div>

        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>

        <div class="col-md-2">
          {% block right_sidebar %}{% endblock %}
        </div>
      </div>

      <div id="pagination">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            {% block footer %}{% endblock %}
          </div>
        </div>
      </div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>

  {% from 'macro.html' import footer with context %}
  {{ footer() }}
</body>
</html>
