{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}

{% block menuitem_active %}
{% if link == "{{ page_name}}.html" %}class="active"{% endif %}
{% endblock %}

{% block header %}
  {% set link = [SITEURL,'category',category|string+'.html']|join('/') %}
  {% set name = ['category',category]|join(':') %}
  {% include 'header.html' %}
{% endblock %}

{% block content %}

{% for category_t,articles in categories %}
  {% if category_t == category %}
    {% set list_group = articles %}
    {% include 'article_list_group.html' %}
  {% endif%}
{% endfor%}

{% endblock %}
