{% set name = '' %}
{% set link = '' %}

{% extends "base.html" %}

{% block content %}
{% from 'macro.html' import genurl with context %}
{% if articles %}
  {% if articles_page %}
    {% set articles = articles_page.object_list %}
  {% endif %}

  <!--<script type="text/javascript">-->
    <!--/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */-->
    <!--var disqus_shortname = 'yuex'; // required: replace example with your forum shortname-->

    <!--/* * * DON'T EDIT BELOW THIS LINE * * */-->
    <!--(function () {-->
    <!--var s = document.createElement('script'); s.async = true;-->
    <!--s.type = 'text/javascript';-->
    <!--s.src = '//' + disqus_shortname + '.disqus.com/count.js';-->
    <!--(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);-->
    <!--}());-->
  <!--</script>-->

  <div id="home_article_list" class="panel-group" id="accordion">
    {% for article in articles %}

    <div class="panel panel-primary">
      <div class="panel-heading panel-title">
        {% set year = article.date|strftime('%Y') %}
        {% set month = article.date|strftime('%B') %}
        {% set month_index = article.date|strftime('%m') %}
        <a href="{{ genurl( '/archives.html#Year' + year ) }}">{{ year }}</a>
        {{- ' - ' -}}
        <a href="{{ genurl( '/archives.html#Year' + year + 'Month' + month_index ) }}">{{ month }}</a>
      <a class="accordion-toggle" data-toggle="collapse" 
        {#data-parent="#accordionYear{{ year.grouper }}" #}
        title="toggle folding"
        href="#collapseArticle{{ loop.index }}">
        <span class="pull-right badge">
          #{{ dates|count - (articles_page.number-1)*DEFAULT_PAGINATION - loop.index0 }}
        </span>
      </a>
      </div>

      <div class="panel-body hidden">

      </div>

      {% set article_url = genurl( article.url, force=True ) %}
      <ul class="list-group">
        <a href="{{ article_url }}">
          <li class="list-group-item">
            <h1>
              {{- article.title -}}
            </h1>
          </li>
        </a>
        <div class="collapse in"
          id="collapseArticle{{ loop.index }}">
          <li class="list-group-item">
            {% from 'macro.html' import article_info with context %}
            {{ article_info(article) }}
            <a class="pull-right" href="{{ article_url }}">
              </a>
          </li>
          {% if article.summary %}
          <li class="list-group-item">
            {{- article.summary -}}
          </li>
          {% endif %}
          <li class="list-group-item text-right">
            <div class="btn-group">
              <a class="btn btn-primary" href="{{ article_url + "#disqus_thread" }}" title="comments">
                <span class="glyphicon glyphicon-comment" data-disqus-identifier="{{ article.slug }}">
                </span></a>
              <a class="btn btn-primary" href="{{ article_url }}" title="permanent link">
                <span class="glyphicon glyphicon-link"></span></a>
              <a class="btn btn-primary" href="{{ article_url }}" title="read more">
                <span class="glyphicon glyphicon-plus"></span></a>
            </div>
          </li>
        </div>
      </ul>
    </div>
    {% endfor %}
  </div>
{% endif %}
{% endblock content %}

{% block pagefooter %}
  {% from 'macro.html' import pagination with context %}
  {{ pagination() }}
{% endblock %}
