{% set name = 'Recent Posts' %}
{% set link = '' %}

{% extends "base.html" %}

{% block content %}
{% if articles %}
  {% if articles_page %}
    {% set articles = articles_page.object_list %}
  {% endif %}

  <div class="panel-group" id="accordion">
    {% for article in articles %}

    <div class="panel panel-primary">
      <div class="panel-heading panel-title">
        {{- article.date|strftime('%Y-%B') -}}
      <a class="accordion-toggle" data-toggle="collapse" 
        {#data-parent="#accordionYear{{ year.grouper }}" #}
        href="#collapseArticle{{ loop.index }}">
        <span class="pull-right badge">
          #{{ dates|count - (articles_page.number-1)*DEFAULT_PAGINATION - loop.index0 }}
        </span>
      </a>
      </div>

      <div class="panel-body hidden">

      </div>

      <ul class="list-group">
        <a href="/{{ article.url }}">
          <li class="list-group-item">
            <h4>
            {{- article.title -}}
            <span class="pull-right">
              {{- article.locale_date }}
            </span>
            </h4>
          </li>
        </a>
        <div class="collapse in"
          id="collapseArticle{{ loop.index }}">
          <li class="list-group-item">
            {% from 'macro.html' import article_info with context %}
            {{ article_info(article) }}
            <a class="pull-right" href="/{{ article.url }}">
              </a>
          </li>
          {% if article.summary %}
          <li class="list-group-item">
            {{- article.summary -}}
          </li>
          {% endif %}
          <li class="list-group-item text-right">
            <div class="btn-group">
              <a class="btn btn-primary" href="/{{ article.url }}#disqus_thread">
                <span class="glyphicon glyphicon-comment"></span></a>
              <a class="btn btn-primary" href="/{{ article.url }}">
                <span class="glyphicon glyphicon-link"></span></a>
              <a class="btn btn-primary accordion-toggle" data-toggle="collapse" 
                {#data-parent="#accordionYear{{ year.grouper }}" #}
                href="#collapseArticle{{ loop.index }}">
                <span class="glyphicon glyphicon-chevron-up"></span></a>
            </div>
          </li>
        </div>
      </ul>
    </div>
    {% endfor %}
  </div>

{% endif %}
{% endblock content %}

{% block footer %}
  {% from 'macro.html' import pagination with context %}
  {{ pagination() }}
{% endblock %}
