{% if DEFAULT_PAGINATION %}
  <ul class="pagination">

    {% if articles_page.has_previous() %}
      <li>
        <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">&laquo;</a>
      </li>
    {% else %}
      <li class="disabled">
        <a>&laquo;</a>
      </li>
    {% endif %}

    {% for num in articles_paginator.page_range %}
    {% if articles_page.number != num %}
      <li>
        <a href="{{ STIEURL }}/{{page_name}}{% if num != 1 %}{{ num }}{% endif %}.html">
          {{- num }}<span class="sr-only">(current)</span></a>
      </li>
    {% else %}
      <li class="active">
        <a>{{- num }}<span class="sr-only">(current)</span></a>
      </li>
    {% endif %}
    {% endfor %}

    {% if articles_page.has_next() %}
      <li>
        <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">&raquo;</a>
      </li>
    {% else %}
      <li class="disabled">
        <a>&raquo;</a>
      </li>
    {% endif %}

  </ul>

{% endif %}
