{% extends "base.html" %}

{% block menuitem_active %}
{% if link == 'tags.html' %}class="active"{% endif %}
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1><a href="{{ SITEURL }}/tags.html">Tags</a></h1>
  </div>

{% if tags %}
    <p>
    {% for tag, articles in tags|sort %}
      <a class="label label-primary" 
        href="{{ SITEURL }}/tags.html#tag{{ tag }}-ref">
            {{ tag }} {{ articles|count }}</a>
    {% endfor %}
    </p>

  <div class="panel-group" id="accordion">
    {% for tag, articles in tags|sort %}
      <div class="panel panel-default">
        {# tag heading #}
        <a id="tag{{ tag }}-ref" class="accordion-toggle" data-toggle="collapse" 
          {# data-parent="#accordion" #}
          href="#collapsetag{{ tag }}">
          <div class="panel-heading panel-title">
              {{ tag }}
            <span class="badge pull-right">
              {{ articles|count }}
            </span>
          </div>
        </a>
      {# end tag heading #}

      {# tag body #}
        <div class="panel-collapse collapse in"
          id="collapsetag{{ tag }}">
          <div class="panel-body-nest">

            {% set list_group = articles %}
            {% include 'article_list_group.html' %}

          </div>
        </div>
      {# end tag body #}

      </div>
    {% endfor %}
  </div>

{% endif %}
{% endblock %}
